<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="input-group mt-5">
        <input type="text" class="form-control" [(ngModel)]="searchKeyword">
        <button class="input-group-text pointer" (click)="performSearch()">Search</button>
      </div>
    </div>
  </div>


  <div *ngIf="searchResults">
    <h2>Search Results:</h2>
    <div class="row">
      <div *ngFor="let item of searchResults.items" class="col-md-3 mb-3 custom-item">
        <div class="list-group-item">
          <div class="border border-dark p-3 bg-white">
            <div class="row">
              <div class="col-md-7">
                <h6>{{ item.name }}</h6>
              </div>
              <div class="col-md-5">
                <img [src]="item.owner.avatar_url" alt="Owner Avatar" class="img-fluid">
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="btn-group mt-2" role="group">
                  <button class="btn btn-success" (click)="sendDetailsToEmail(item)">Send Email</button>
                </div>
              </div>
              <div class="col-md-5">
                <div class="btn-group mt-2" role="group">
                  <button class="btn btn-primary" (click)="setBookmarkItem(item)">Bookmark</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="!searchResults">
    <div *ngIf="errorMessage">
      <h1>Error: {{ errorMessage }}</h1>
    </div>
  </div>